body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#logo_bar{
    width: 100%;
    height: auto;
    background-color: black;
    h1{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 3vw;
        color: white;
        div {
            display: inline-block;
        }
        #to {
            color: rgb(0, 172, 6)
        }
    }
}

#event_info{
    width: 100%;
    height: auto;
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    h2{
        margin-bottom: 0vh;
    }
    a{
        width: fit-content;
    }

}

.availabilities{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.avail_card{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}

table {
    letter-spacing: 1px;
    font-size: 0.8rem;
}

tr{
    height:20px
}

td{
    height: inherit;
}

#yours {
    .avail {
        background-color: #00AC06;
    }
    .unavail {
        background-color: lightgrey;
    }
}

#samples{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    align-items: center;
    margin-top: .8vh;
    table{
        table-layout:fixed;
        margin-right: .25vw;
    }
    tr{
        height:16px;
    }
    td{
        width: 30px;
        padding: 0px 0px 0px 0px;
    }
    .avail{
        margin-left: 2vw;
    }   
}

.matrix{
    margin-top: 1.5vh;
    display:flex;
    flex-flow:row;
}

.date_matrix{
    max-width:75%;
    overflow: scroll;
    /* box-shadow: inset  -8px 0px 6px -4px lightgray; */
    table{
        table-layout:fixed;
        width: 270px;
    }
    td {
        border: 1px solid rgb(190,190,190);
        background-color: lightgrey;
        padding: 0px 0px 0px 0px;
        width: 40px;
    }
}

#your_matrix{
    .date_matrix{
        td:hover{
            background-color: darkgrey;
        }
        td.avail:hover{
            background-color: #118B14;
        }
    }
}

.desc{
    font-size: 10px;
    margin-top: 1vh;
}

.times{
    .head{
        height:7.6px
    }
    tr{
        height:21px;
    }
    td{
        text-align: right;
    }
    p {
        margin: 0px 0px 0px 0px;
        font-size: 8pt;
    }
}

/* *{
    box-sizing: border-box
} */

#group{
    .none{
        background-color: lightgrey;
    }
    .one{
        background-color: #9EC9A0;
    }
    .event_button.one:hover{
        background-color: #8EC090;
    }
    .two{
        background-color: #6AC06D;
    }
    .event_button.two:hover{
        background-color: #58B85B;
    }
    .three{
        background-color: #35B639;
    }
    .event_button.three:hover{
        background-color: #2FA233;
    }
    .four{
        background-color: #00AC06;
    }
    .event_button.four:hover{
        background-color: #118B14;
    }
    td{
        .event_button{
            vertical-align: middle;
            border:none;
            width:100%;
            height: 100%;
        }
    }    
}

#group_avail_legend{
    display: flex;
    flex-direction: row;
    font-size: 8pt;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 300px;
    margin-top: .8vh;
    table{
        /* border-collapse: collapse; */
        table-layout:fixed;
        width: 160px; 
    }
}


@media screen and (max-width: 600px) {
    #logo_bar{
        h1{
            text-align: center;
        }
    }
    #event_info{
        text-align: center;
    }
    .availabilities{
        flex-direction: column;
        #group{
            padding-top: 4vh;
        }
    }
    .avail_card{
        width: 100%;
    }    
}